{% load staticfiles %}

<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <link rel="stylesheet" type="text/css" href="{% static 'manifests/prod/css/mirador-combined.css' %}">
  <title>Harvard Mirador Viewer</title>
  <style type="text/css">
    body { padding: 0; margin: 0; overflow: hidden; font-size: 70%; }
    #viewer { background: #333 url({% static 'manifests/prod/images/debut_dark.png' %}) left top repeat; width: 100%; height: 100%; position: fixed; }
  </style>
</head>
<body>
  <div id="viewer"></div>

  <script src="{% static 'manifests/prod/mirador.js' %}"></script>
  <script type="text/javascript">
    $(function() {

      Mirador({
        "id": "viewer",
        "data": [
    {% for uri, title in manifests.items %}
    { "manifestUri": "{{ uri }}", "location": "Harvard University" },
    {% endfor %}
        ],
    "windowObjects": [
    {% for uri, title in manifests.items %}
       { "loadedManifest": "{{ uri }}" },
    {% endfor %}
        ]
      });
    });
  </script>
</body>
</html>
